*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    /* background: url() no-repeat center center/cover; */
    

}
h1{
    text-align: center;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}
.container{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   padding: 0 20px;  
   
}
.to-do-body{
    border-radius: 20px;
    height: 60vh;
    width: 80vh;
   box-shadow: 1px 1px 20px 1px black ;
}
.input-area{
    display: flex;
    justify-content: space-evenly;
}
input {
    border: 2px solid rgb(61, 49, 49);
    border-radius: 20px;
    width: 400px;   
    height: 35px;   
    padding: 5px 10px;
    background: rgba(139, 129, 132, 0.3);
    color: black
    
}
.add-button:hover{
    box-shadow: 0px 5px 7px 1px black;
}
.add-button{
    
    height: 30px;
    padding: 0 20px;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
.todos-content{
    height: 40vh;
    width: 65vh;
    display: flex;
    justify-content: left;
   
}



