*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: gillroy, sans-serif;
    
    /* background: url() no-repeat center center/cover; */
     background-color: #f0f0f0;
    

}
h1{
    text-align: center;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}
.container{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   padding: 0 20px;  
   
}
.to-do-body{
    /* background-color: red; */
    border-radius: 20px;
    height: 85vh;
    width: 100vh;
   box-shadow: 1px 1px 20px 1px black ;
   
}
.input-area{
    display: flex;
    justify-content: space-evenly;
}
input {
    border: 2px solid rgb(61, 49, 49);
    border-radius: 20px;
    width: 75vh;   
    height: 5vh;   
    padding: 5px 10px;
    background: rgba(139, 129, 132, 0.3);
    color: black;
    
}
.input-area button:hover{
    box-shadow: 0px 5px 7px 1px black;
}
.input-area button{
    
    height: 30px;
    padding: 0 20px;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4CAF50;
    margin-left: 10px;
    margin-right: 10px;
    
}
.todos-content{
    /* background-color: pink; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: start;
   
}
#task-list{
    list-style: none;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 5vh;
}
#task-list li{
    background-color: rgba(139, 129, 132, 0.3);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delete-button{
    background-color: red;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}


